<<<<<<< HEAD
        /* CSS style rules go here! */
        
        #map {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
        }
        
        #infobox {
            position: absolute;
            z-index: 650;
            bottom: 25px;
            right: 10px;
            padding: 4px 8px;
            margin: 0;
            color: whitesmoke;
            background: rgba(44, 44, 47, 0.9);
            font-size: 0.8em;
            border-radius: 5px;
            font-family: 'Slabo 27px', serif;
            width: 250px;
        }
        
        #legend {
            position: absolute;
            z-index: 650;
            bottom: 240px;
            right: 10px;
            padding: 4px 8px;
            margin: 0;
            color: whitesmoke;
            background: rgba(44, 44, 47, 0.9);
            font-size: 0.8em;
            border-radius: 5px;
            width: 100px;
        }
        
        h1 {
            position: absolute;
            z-index: 650;
            top: 10px;
            left: 65px;
            padding: 8px 15px;
            margin: 0;
            color: whitesmoke;
            background: rgba(44, 44, 47, 0.9);
            font-size: 2.5em;
            border-radius: 5px;
            font-family: 'Slabo 27px', serif;
        }
        
        h2 {
            position: absolute;
            z-index: 650;
            top: 80px;
            left: 65px;
            padding: 8px 15px;
            margin: 0;
            color: whitesmoke;
            background: rgba(44, 44, 47, 0.9);
            font-size: 1.1em;
            border-radius: 5px;
            font-family: 'Slabo 27px', serif;
        }
        
        a {
            color: deepskyblue;
        }
        
        .mensTooltip {
            color: whitesmoke;
            background: #6050dc;
            font-size: 1.1em;
            font-weight: bold;
            font-family: 'Slabo 27px', serif;
        }
        
        .womensTooltip {
            background: #f5deb3;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: 'Slabo 27px', serif;
        }
        
        #radio-button {
            position: absolute;
            z-index: 650;
            width: 130px;
            padding: 8px 25px 8px 15px;
            background: rgba(44, 44, 47, 0.9);
            border-radius: 5px;
            color: whitesmoke;
            bottom: 105px;
            left: 28px;
            font-family: 'Slabo 27px', serif;
            font-size: .9em;
        }
        
        #ui-controls {
            position: absolute;
            z-index: 650;
            width: 250px;
            padding: 8px 25px 8px 15px;
            background: rgba(44, 44, 47, 0.9);
            border-radius: 5px;
            color: whitesmoke;
            bottom: 25px;
            left: 10px;
        }
        
        #ui-controls .min {
            float: left;
        }
        
        #ui-controls .second {
            float: left;
            margin-left: 25px;
        }
        
        #ui-controls .mid {
            float: left;
            margin-left: 30px;
        }
        
        #ui-controls .fourth {
            float: left;
            margin-left: 35px;
        }
        
        #ui-controls .max {
            float: right;
            margin-right: -15px;
        }
        
        .round-slider {
            width: 100%;
        }
        
        label {
            font-size: 1em;
            font-weight: bold;
            font-family: 'Slabo 27px', serif;
        }
=======
/* CSS style rules go here! */

#map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

#infobox {
    position: absolute;
    z-index: 650;
    bottom: 25px;
    right: 10px;
    padding: 4px 8px;
    margin: 0;
    color: whitesmoke;
    background: rgba(44, 44, 47, 0.9);
    font-size: 0.8em;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
    width: 250px;
}

#legend {
    position: absolute;
    z-index: 650;
    bottom: 240px;
    right: 10px;
    padding: 4px 8px;
    margin: 0;
    color: whitesmoke;
    background: rgba(44, 44, 47, 0.9);
    font-size: 0.8em;
    border-radius: 5px;
    width: 100px;
}

h1 {
    position: absolute;
    z-index: 650;
    top: 10px;
    left: 65px;
    padding: 8px 15px;
    margin: 0;
    color: whitesmoke;
    background: rgba(44, 44, 47, 0.9);
    font-size: 2.5em;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
}

h2 {
    position: absolute;
    z-index: 650;
    top: 80px;
    left: 65px;
    padding: 8px 15px;
    margin: 0;
    color: whitesmoke;
    background: rgba(44, 44, 47, 0.9);
    font-size: 1.1em;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
}

a {
    color: deepskyblue;
}

.mensTooltip {
    color: whitesmoke;
    background: #6050dc;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}

.womensTooltip {
    background: #f5deb3;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}

#radio-button {
    position: absolute;
    z-index: 650;
    width: 130px;
    padding: 8px 25px 8px 15px;
    background: rgba(44, 44, 47, 0.9);
    border-radius: 5px;
    color: whitesmoke;
    bottom: 105px;
    left: 28px;
    font-family: 'Slabo 27px', serif;
    font-size: .9em;
}

#ui-controls {
    position: absolute;
    z-index: 650;
    width: 250px;
    padding: 8px 25px 8px 15px;
    background: rgba(44, 44, 47, 0.9);
    border-radius: 5px;
    color: whitesmoke;
    bottom: 25px;
    left: 10px;
}

#ui-controls .min {
    float: left;
}

#ui-controls .second {
    float: left;
    margin-left: 25px;
}

#ui-controls .mid {
    float: left;
    margin-left: 30px;
}

#ui-controls .fourth {
    float: left;
    margin-left: 35px;
}

#ui-controls .max {
    float: right;
    margin-right: -15px;
}

.round-slider {
    width: 100%;
}

label {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}
>>>>>>> origin/master
